if TARGET_MX8MM_INFLUX

config SYS_BOARD
	default "mx8mm-influx-rex-smart"

config SYS_VENDOR
	default "influxtechnology"

config SYS_CONFIG_NAME
	default "mx8mm-influx-rex-smart"

config IMX_CONFIG
	default "board/influxtechnology/mx8mm-influx-rex-smart/imximage-8mm-lpddr4.cfg"

endif
