if TARGET_MX8MNEA_UCOM

config SYS_BOARD
	default "mx8mn-influx-rex-smart"

config SYS_VENDOR
	default "influxtechnology"

config SYS_CONFIG_NAME
	default "mx8mn-influx-rex-smart"

config IMX_CONFIG
	default "board/influxtechnology/mx8mn-influx-rex-smart/imximage-8mn-ddr4.cfg"

endif
